{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>{% block title %} Employee Login {% endblock %}</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">	
    <link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/ico" />
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/parsley.js/2.7.0/parsley.min.js"></script>
</head>
<body class="loginBody">
    <div class="container">
            {% block content %}
            {% endblock %}
	</div>

</body>
</html>