{% extends 'default.html' %}
{% load static %}
{% block content %}
<!-- page content -->
<div class="right_col" role="main">
<div class="">
    <div class="clearfix"></div>
    <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
        <div class="x_title">
            <h2>Add Employee <small></small></h2>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <br />
            <form action="{% url 'control:addEmployee' %}" method="POST" id="demo-form2" 
            class="form-horizontal form-label-left" data-parsley-validate>
                {% csrf_token %}
            <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">{{ form.full_name.label }} <span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">{{ form.full_name }}</div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">{{ form.email.label }} <span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">{{ form.email }}</div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">{{ form.contact.label }} <span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">{{ form.contact }}</div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">{{ form.password.label }} <span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">{{ form.password }}</div>
            </div>
            <div class="ln_solid"></div>
            <div class="form-group">
                <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                <button class="btn btn-primary" type="button">Cancel</button>
                <button class="btn btn-primary" type="reset">Reset</button>
                <button type="submit" class="btn btn-success">Submit</button>
                </div>
            </div>
            </form>
        </div>
        </div>
    </div>
    </div>
    </div>
</div>
{% endblock %}