{% extends 'login-layout.html' %}
{% load static %}
{% block title %} Employee Login {% endblock %}
{% block content %}
<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div class="panel panel-login">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-12">
                        <a href="#" class="active" id="login-form-link">Login</a>
                    </div>
                </div>
                <hr>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-12">
                        {% if messages %}
                            {% include 'message.html' %}
                        {% endif %}
                        <form id="login-form" action="{% url 'control:login' %}" method="POST" data-parsley-validate>
                            {% csrf_token %}
                            <div class="form-group">{{ form.email }}</div>
                            <div class="form-group">{{ form.password }}</div>
                            <div class="form-group text-center">
                                <input type="checkbox" tabindex="3" class="" name="remember" id="remember">
                                <label for="remember"> Remember Me</label>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-6 col-sm-offset-3">
                                        <input type="submit" name="login-submit" id="login-submit" tabindex="4" class="form-control btn btn-login" value="Log In">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-lg-6 col-sm-12 marginTopBottom">
                                        <div class="text-center">
                                            <a href="{% url 'control:forgot' %}" tabindex="5" class="forgot-password">Forgot Password?</a>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-sm-12 marginTopBottom">
                                            <div class="text-center">
                                                <a href="{% url 'control:register' %}" tabindex="5" class="btn btn-default">Register</a>
                                            </div>
                                        </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{{ value|dictsort:"name" }}

{{ value|first }}
{{ 30.26734|floatformat:3 }}

{{ 123456789|get_digit:"2" }}
{{ 12345|make_list }}

{{ "what are is do"|slugify }}

{{ "<b>Joel</b> <button>is</button> a <span>slug</span>"|striptags }}

{{ "Joel is a slug"|truncatechars:7 }}

{{ "Joel is a slug"|truncatewords:2 }}

{{ "Joel is a slug"|wordcount }}

{{ "Joel is a slug"|wordwrap:5 }}

{% with name="world's" %}
    {{ name|capfirst|addslashes }}
{% endwith %}

{% spaceless %}
    <p>
        <a href="foo/">Foo</a>
    </p>
{% endspaceless %}

{% endblock %}