{% extends 'default.html' %}
{% load static %}
{% block title %} Import Product {% endblock %}
{% block content %}
<!-- page content -->
<div class="right_col" role="main">
<div class="">
    <div class="clearfix"></div>
    {% if messages %}
        {% include 'message.html' %}
    {% endif %}
    <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Bulk Import Product<small>(upload csv file)</small></h2>
                <div class="clearfix"></div>
            </div>
        <div class="x_content">
            <br />
            <form action="{% url 'datasheet:import_product' %}" method="POST" id="demo-form3" 
            class="form-horizontal form-label-left" data-parsley-validate enctype="multipart/form-data">
                {% csrf_token %}
            <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">{{ form.import_product.label }}<span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">{{ form.import_product }}</div>
            </div>
            <div class="ln_solid"></div>
            <div class="form-group">
                <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                <button type="submit" class="btn btn-success">Upload</button>
                </div>
            </div>
            </form>
        </div>
        </div>
    </div>
    </div>
    </div>
</div>
{% endblock %}