{% extends 'default.html' %}
{% load static %}
{% block title %} Product Report {% endblock %}
{% block content %}
<!-- page content -->
<div class="right_col" role="main">
<div class="">
    <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                <div class="x_title">
                    <h2>Product Report <small></small></h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">Product
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <select id="id_employee" class="form-control">
                                <option value="">----</option>
                                {% if productList %}
                                    {% for product in productList %}
                                        <option value="{{ product.id}}">{{ product.title }}</option>
                                    {% endfor %}
                                {% endif %}
                            </select>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
        <div class="" role="main">
            <div class="">
                <div class="clearfix"></div>
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_content">
                        <table id="datatable-responsive" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
                            <thead>
                            <tr>
                                <th>Employee</th>
                                <th>Category</th>
                                <th>Product</th>
                                <th>Qty</th>
                                <th>Remark</th>
                                <th>Created_At</th>
                                <th>Modified_At</th>
                            </tr>
                            </thead>
                            <tbody id="eReportData">
                            </tbody>
                        </table>
                    </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>
{% endblock %}