{% extends 'default.html' %}
{% load static %}
{% block title %} Stock List {% endblock %}
{% block content %}
<div class="right_col" role="main">
    <div class="">
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_content">
                {% if messages %}
                    {% include 'message.html' %}
                {% endif %}
                <p class="text-muted font-13 m-b-30">Stock List</p>
                <div><a href="{% url 'datasheet:addStock' %}" class="btn btn-default"><i class="fa fa-plus-circle">Add</i></a></li></div>
                <table id="datatable-responsive" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
                    <thead>
                    <tr>
                        <th>Product</th>
                        <th>Stock</th>
                        <th>Created</th>
                        <th>Modified</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% if stockList %}
                        {% for stock in stockList %}
                            <tr>
                                <td>{{ stock.product }}</td>
                                <td>{{ stock.current_stock }}</td>
                                <td>{{ stock.created_at}}</td>
                                <td>{{ stock.modified_at}}</td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                    </tbody>
                </table>
                
                
                </div>
            </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}